{
    "esp32p4": {
        "CONFIG_IDF_EXPERIMENTAL_FEATURES": "y",
        "CONFIG_SPIRAM_SPEED_200M": "y",
        "CONFIG_SPIRAM_XIP_FROM_PSRAM": "y",
        "CONFIG_CACHE_L2_CACHE_256KB": "y",
        "CONFIG_CACHE_L2_CACHE_LINE_128B": "y"
    }
}
